<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="jsonFiles" value="C:\Users\92336\Desktop\json"/>
    <add key="email" value=""/>
    <add key="password" value=""/>
    <add key="logPath" value="C:\Users\92336\Desktop\log"/>
    <add key="logFile" value="C:\Users\92336\Desktop\log\logq1.txt"/>
  </appSettings>
</configuration>