<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="NewsLink1" value="https://dailypakistan.com.pk/rss/science-and-technology"/>
    <add key="NewsLink2" value="https://nation.com.pk/rss/sports"/>
    <add key="XmlPath" value="C:\Users\92336\source\repos\k180274_q2_A2\"/>
  </appSettings>
</configuration>